<button type="button" class="carousel__navigation carousel__previous-button slick-prev hidden">
  <!-- {% render 'icon-arrow-forward' %} -->
</button>
<button type="button" class="carousel__navigation carousel__next-button slick-next hidden">
  <!-- {% render 'icon-arrow-forward' %} -->
</button>