<a href="#" class="collection-sidebar__heading" data-heading="{{ heading }}">
  <span class="type-body-regular" data-sidebar-title><strong>{{ heading }}</strong></span>
  {% render 'icon-chevron-down' %}
</a>
