<section>
  <div class="product-full-of-title">
    <span class="product-full-of-title-text" >FULL OF:</span>
  </div>
  <div class="product-full-of-tick">
      <div class="product-full-of-tick-square">
      </div>
      <div class="product-full-of-tick-icon">
        <img class="product-full-of-tick-icon-content" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/check-symbol.png?v=1623577208">
      </div>
    </div>
  </section>
  