<section data-section-id="{{ id }}" data-section-type="text-columns-with-images"
  class="section text-columns{{ modifiers }}">
  <div class="services-right-top">    
<span class="subtitle_products" >Skin Treatments</span>
<h1 class="product-single__title header_title fontHelCondBo2" style="margin-bottom: 0rem;" data-uw-styling-context="true"> {{heading }}</h1>
    <span class="subtitle_products">{{subheading}}</span>
</div>
  <div class="services-right">
    <h2 class="accordion-menu-producs title-producs active " data-uw-styling-context="true">
          SPOTLESS REPUTATION FACIAL
      <span class="accordion-menu-arrow desktop"></span>
    </h2>
    <div class="services-block">
      <P class="subtitle_products" >Skin that is heavily congested, clogged, oily or acne prone.</P>    
      <P class="services-block-titel" >What is it?</P>
      <P class="services-block-content" >Our oil-dissolving, complexion-clearing facial uses ultrasonic waves and high frequency to treat troubled or congested skin Includes full extractions.</P>
      <P class="services-block-titel" >How?</P>
      <P class="services-block-content" >Thorough cleansing and targeted products are combined with a “triple threat treatment” combining ultrasonic waves, bacteria-killing high frequency, and full-face extractions.</P>
      <P class="services-block-titel" >Result?</P>
      <P class="services-block-content" >A calmer and clearer complexion and mind.</P>      
      <span class="price-sevices-block">
          $85
      </span>
      <button  name="add" onclick="#" aria-label="Add to cart" class="btn product-form__cart-submit btn--secondary-accent services-btn-book">
        <span>BOOK NOW</span>                
      </button>
    </div> 
  </div>
  <div class="services-right">
    <h2 class="accordion-menu-producs title-producs active" data-uw-styling-context="true">
          ALL FOR ONE FACIAL
      <span class="accordion-menu-arrow desktop"></span>
    </h2>
    <div class="services-block">
      <P class="subtitle_products" >Emergency spot treatment</P>    
      <P class="services-block-titel" >How?</P>
      <P class="services-block-content" >The affected area is cleansed, carefully extracted, and disinfected using our Haus tools and effective spot treatment. Followed by protective sunscreen and some tips for home care follow-up.</P>
      <P class="services-block-titel" >Result?</P>
      <P class="services-block-content" >The “unwanted visitor” has been cleaned, extracted, detoxified and the healing process can begin. And that’s zit.</P>
      <P class="services-block-titel" >Result?</P>
      <P class="services-block-content" >A calmer and clearer complexion and mind.</P>      
      <span class="price-sevices-block">
          $10
      </span>
      <button  name="add" onclick="#" aria-label="Add to cart" class="btn product-form__cart-submit btn--secondary-accent services-btn-book">
        <span>BOOK NOW</span>                
      </button>
    </div> 
  </div>
  <div class="services-right">
    <h2 class="accordion-menu-producs title-producs active" data-uw-styling-context="true">
          BOOSTS
      <span class="accordion-menu-arrow desktop"></span>
    </h2>
    <div class="services-block">
      <P class="subtitle_products" >Hydrojelly mask (Mask & You Shall Receive)</P>
      <div class="services-block-text"> 
        <P class="services-block-titel" >Who/What?</P>
        <P class="services-block-content" >All skin types.</P>
        <P class="services-block-titel" >How?</P>
        <P class="services-block-content" >Choose from five electrolyte-infused hydrojelly masks:</P>
        <P class="services-block-content" >* Hydrating Hyaluronic & Aloe Vera Mask</P>
        <P class="services-block-content" >* Calming Calendula & Ceramides Mask</P>
        <P class="services-block-content" >* Purifying Active Charcoal Mask</P>
        <P class="services-block-content" >* Volumizing Poly-l-lactic Acid & Biotin Mask</P>
        <P class="services-block-content" >* Illuminating Orange & Glutathione Mask</P>      
        <P class="services-block-titel" >Result?</P>
        <P class="services-block-content" >Depending on your mask choice, benefits range from soothing, smoothing, refining, lifting, firming, increased circulation and oxygen. It’s all good!</P>      
      </div>

      <div class="services-line-block"></div>      
      <P class="subtitle_products" >LED (Meam Me Up)</P>
      <div class="services-block-text">
        <P class="services-block-titel" >Who/What?</P>
        <P class="services-block-content" >Acne, loss of firmness and elasticity.</P> 
        <P class="services-block-titel" >How?</P>
        <P class="services-block-content" >A combo LED light panel uses red light to reduce inflammation, amber light to promote collagen production, and blue light to kill acne-causing bacteria.</P>
        <P class="services-block-titel" >Result?</P>
        <P class="services-block-content" >We’ll light the way to firmer skin, a healthy glow and quicker healing time.</P>      
      </div>

      <div class="services-line-block"></div>
      <P class="subtitle_products" >Oxygen Blast (Have a Blast)</P>
      <div class="services-block-text">
        <P class="services-block-titel" >Who/What?</P>
        <P class="services-block-content" >Dry, irritated skin.</P> 
        <P class="services-block-titel" >How?</P>
        <P class="services-block-content" >Oxygen machine mists skin with a micronized solution to help soothe, hydrate, and provide anti-microbial benefits.</P>
        <P class="services-block-titel" >Result?</P>
        <P class="services-block-content" >Super-hydrated skin that’s totally glO2wing!</P>
       </div> 

      <div class="services-line-block"></div>
      <P class="subtitle_products" >Pro Peel (Universal A-Peel)</P>
      <div class="services-block-text">
        <P class="services-block-titel" >Who/What?</P>
        <P class="services-block-content" >A variety of concerns including dullness, rough texture, uneven tone, and loss of elasticity.</P> 
        <P class="services-block-titel" >How?</P>
        <P class="services-block-content" >Multiple peel options tackle different issues: The Haus Peel uses glycolic and lactic acids to exfoliate and give great glow, while the Blueberry Detox uses pineapple extract and lactic acid to boost circulation and collagen production. Ask our pros to help you pick your perfect peel!</P>
        <P class="services-block-titel" >Result?</P>
        <P class="services-block-content" >Depends on the peel, but you’re sure to leave with fresh, radiant skin.</P>     
      </div>

      <div class="services-line-block"></div>
      <P class="subtitle_products" >Microdermbrasion (Buff Love)</P>
      <div class="services-block-text">
        <P class="services-block-titel" >Who/What?</P>
        <P class="services-block-content" >Uneven tone and texture.</P> 
        <P class="services-block-titel" >How?</P>
        <P class="services-block-content" >A professional physical exfoliation (microdermabrasion) uses crystals to break up dead skin cells and impurities for a refined complexion and improved product penetration. </P>
        <P class="services-block-titel" >Result?</P>
        <P class="services-block-content" >Sloughed away roughness and a super-smooth finish.</P>      
      </div>
    </div> 
  </div>
  </div>
  


</section>