{% if enabled %}
<section data-section-id="{{ id }}" data-section-type="slide-products" class="slide-products">
  <div class="slides-products-home max-w-1280">
    <div class="slides-products">
      <div class="slide-product">
        <div class="w40 float-left ml-10 mb100">
          <p class="slide-text">moisturzing</p>
          <h2 class="slide-product-title">CREAM</h2>
          <p class="slide-product-text"><strong>Intense moisture. Fast absorbing.</strong> Non-stinging anti-itch cream for face and body with sunflower oil.</p>    
            <img class="w40 img-hero-slide mr-10 mb80 mobi"
          src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_productshot_comp_0301521rt_1296x_095c2247-d83c-49f1-9626-248bf1cc8842.jpg?v=1618125448"
          loading="lazy" alt="lotion" />          
          <a class="link-pro" href="/collections/all">
            <div class="btn-shop-pro">
              ADD TO CART
            </div>
          </a>
        </div>
        <img class="w40 img-hero-slide mr-10 mb100 desktop"
          src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_productshot_comp_0301521rt_1296x_095c2247-d83c-49f1-9626-248bf1cc8842.jpg?v=1618125448"
          loading="lazy" alt="lotion" />      
      </div>
      <div class="slide-product">
        <div class="w40 float-left ml-10 mb100">
          <p class="slide-text">moisturzing</p>
          <h2 class="slide-product-title">LOTION</h2>
          <p class="slide-product-text"><strong>Intense moisture. Fast abosorbing</strong> Developed for the face and
            body (yes, you can use it all over), this pure and powerful treatment relies on our ceramide-fueled
            calmpound to keep the itch out and the moisture in.</p>    
            <img class="w40 img-hero-slide mr-10 mb80 mobi"
          src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_productshot_comp_0301521rt_1296x_095c2247-d83c-49f1-9626-248bf1cc8842.jpg?v=1618125448"
          loading="lazy" alt="lotion" />          
          <a class="link-pro" href="/collections/all">
            <div class="btn-shop-pro">
              ADD TO CART
            </div>
          </a>
        </div>
        <img class="w40 img-hero-slide mr-10 mb100 desktop"
          src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_productshot_comp_0301521rt_1296x_095c2247-d83c-49f1-9626-248bf1cc8842.jpg?v=1618125448"
          loading="lazy" alt="lotion" />      
      </div>
      <div class="slide-product">
        <div class="w40 float-left ml-10 mb100">
          <p class="slide-text">moisturzing</p>
          <h2 class="slide-product-title">CLEANSER</h2>
          <p class="slide-product-text"><strong>Intense moisture. Fast abosorbing</strong> This
            paraben-and-fragrance-free formula cleanses skin without drying it, thanks to our barrier-building,
            skin-soothing “Calmpound”.</p>
            <img class="w40 img-hero-slide mr-10 mb80 mobi"
        src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_productshot_comp_0301521rt_1296x_095c2247-d83c-49f1-9626-248bf1cc8842.jpg?v=1618125448"
        loading="lazy" alt="cleanser" />       
          <a class="link-pro" href="/collections/all">
            <div class="btn-shop-pro">
              ADD TO CART
            </div>
          </a>
        </div>
        <img class="w40 img-hero-slide mr-10 mb100 desktop"
        src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_productshot_comp_0301521rt_1296x_095c2247-d83c-49f1-9626-248bf1cc8842.jpg?v=1618125448"
        loading="lazy" alt="cleanser" />
      </div>
      <div class="slide-product">
        <div class="w40 float-left ml-10 mb100">
          <p class="slide-text">moisturzing</p>
          <h2 class="slide-product-title">BALM</h2>
          <p class="slide-product-text"><strong>Intense moisture. Fast abosorbing</strong> Our scalp-to-sole solution
            for frustrating flare-ups that need a little TLC. Clean ingredients, clinical results.</p>   
            <img class="w40 img-hero-slide mr-10 mb80 mobi"
        src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_productshot_comp_0301521rt_1296x_095c2247-d83c-49f1-9626-248bf1cc8842.jpg?v=1618125448"
        loading="lazy" alt="balm" />        
          <a class="link-pro" href="/collections/all">
            <div class="btn-shop-pro">
              ADD TO CART
            </div>            
          </a>
        </div>
        <img class="w40 img-hero-slide mr-10 mb100 desktop"
        src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_productshot_comp_0301521rt_1296x_095c2247-d83c-49f1-9626-248bf1cc8842.jpg?v=1618125448"
        loading="lazy" alt="balm" />
      </div>
    </div>
    <div class="under-slide-pro w80">
      <div class="w20 float-left w20 img-comment-d">
        <img class="img-comment-pro float-left"
          src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/seq.png?v=1621265293" alt="comments">
        <h2 class="tille-comment-pro">
          INSTANT RELIEF</h2>
      </div>
      <div class="w20 float-left w20 img-comment-d">
        <img class="img-comment-pro float-left"
          src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/seq.png?v=1621265293" alt="comments">
        <h2 class="tille-comment-pro">
          EVERYDAY USE</h2>
      </div>
    </div>
  </div>
</section>
{% endif %}