{% if enabled %}
  <section
    data-section-id="{{ id }}"
    data-section-type="section-3"
    class="section-3"
  >
    
  <div class="section-3-hd">
    <div class="section-3-hd-d">
      <h2 class="section-3-hd-text"> GET YOUR CALM ON</h2>
    </div>
  </div>
  <div class="section-3-home max-w-1280">
  
    <div class="title-header__heading section-3-header">
      <h3 class="title-header titel-hp">
        An uncomplicated skin solution to a complicated skin problem.
      </h3>
    </div>
    <div class="section-3-content"> 
      <div class="section-3-content-1">
        <div class="section-3-content-lf w40 float-left">
          <img class="section-3-content-img" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_coregraphics_bottle.svg?v=1621266641" loading="lazy" alt="calmon coregraphics bottle"/> 
        </div>
        <div class="section-3-content-rg w60">
            <h2 class="section-3-content-title">QUALITY INGREDIENTS THAT WORK</h2>
            <p class="section-3-text">Finding ingredients that are both mild enough for sensitive skin but powerful enough for healthy results wasn’t easy. But it was necessary.</p>
            <a class="link-pro" href="/collections/all">
              <div class="btn-sextion-3"> 
                LEAR MORE
              </div>
            </a>
        </div>
      </div>
      <div class="section-3-content-1 ">
        <div class="section-3-content-lf w40 float-left">
          <img class="section-3-content-img" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_coregraphics_barrier.svg?v=1621266641" loading="lazy" alt="calmon coregraphics barrier"/> 
        </div>
        <div class="section-3-content-rg w60">
            <h2 class="section-3-content-title">FIGHT THE GOOD FIGHT</h2>
            <p class="section-3-text">Our approach to help calm and nourish dry, sensitive and eczema prone skin is to help support and protect barrier function. Simply put, the barrier keeps moisture locked in and allergens out.</p>
            <a class="link-pro" href="/collections/all">
              <div class="btn-sextion-3"> 
                LEAR MORE
              </div>
            </a>
        </div>
      </div>
      <div class="section-3-content-1">
        <div class="section-3-content-lf w40 float-left">
          <img class="section-3-content-img" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_coregraphics_calm.svg?v=1621266641" loading="lazy" alt="calmon coregraphics calm"/> 
        </div>
        <div class="section-3-content-rg w60">
            <h2 class="section-3-content-title">OUR STORY, YOUR SKIN</h2>
            <p class="section-3-text">We see you. We feel you. You're itchy. Dry. Inrritated. And we get it. You don't want the fragrance.
              You don't want the steroids or the laundry list of ingredients you've never heard of.
              You want Relief + Results. And we got you.</p>
            <a class="link-pro" href="/collections/all">
              <div class="btn-sextion-3"> 
                LEAR MORE
              </div>
            </a>
        </div>
      </div>       
    </div> 
  </div>
  <div class="section-3-hd-sec-3" >
  <div class="max-w-1280">
        <div class="section-3-hd-d text-section-3">
          <h3 class="title-header titel-hp pd-80">
              Sometimes it's about what you <span class="make-dont">don't</span> put on your skin.
            <br class="desktop">
              Calm on products are free of:
          </h3>
          <div class ="row-end-sec-3">
            <div class="col-3-sec-3">
              <img class="mx-w-40" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" loading="lazy" alt="calmon freeof symbols NO."> 
              <h3 class="title-header titel-hp">
                FRAGRANCE
              </h3>
            </div>
            <div class="col-3-sec-3">
              <img class="mx-w-40" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" loading="lazy" alt="calmon freeof symbols NO."> 
              <h3 class="title-header titel-hp">
                PARABENS
              </h3>
            </div>
            <div class="col-3-sec-3">
              <img class="mx-w-40" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" loading="lazy" alt="calmon freeof symbols NO."> 
              <h3 class="title-header titel-hp">
                FSTEROIDS
              </h3>
            </div>
          <!-- </div>
          <div class="row-end-sec-3-2"> -->
            <div class="col-3-sec-3">
              <img class="mx-w-40" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" loading="lazy" alt="calmon freeof symbols NO."> 
              <h3 class="title-header titel-hp">
                SULFATES
              </h3>
            </div>
            <div class="col-3-sec-3">
              <img class="mx-w-40" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" loading="lazy" alt="calmon freeof symbols NO."> 
              <h3 class="title-header titel-hp">
                DYES
              </h3>
            </div>
            <div class="col-3-sec-3">
              <img class="mx-w-40" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_SMILE.svg?v=1621266641" loading="lazy" alt="calmon freeof symbols NO."> 
              <h3 class="title-header titel-hp">
                
              </h3>
            </div>
          </div>
        </div>    
      </div> 
    </div>   
      </section>
{% endif %}