{% if enabled %}
<section
    data-section-id="{{ id }}"
    data-section-type="static-accordion"
    class="accordion-menu-wrap"
  >

	<div class="accordion-wrap">
		<div class="accordion-menu type-heading-1-small mt0 mb3">
			Ingredients
		   <span class="accordion-menu-arrow"></span>
		</div>
		<div class="accordion-menu-item">
			Ingredients copy
		</div>
		<div class="accordion-menu type-heading-1-small mt0 mb3">
			How to Use
		   <span class="accordion-menu-arrow"></span>
		</div>
		<div class="accordion-menu-item">
			How to Use copy
		</div>
		<div class="accordion-menu type-heading-1-small mt0 mb3">
			Before & After
		   <span class="accordion-menu-arrow"></span>
		</div>
		<div class="accordion-menu-item">
			Before & After copy
		</div>
	</div>

</section>
{% endif %}