{% if enabled %}
  <section
    data-section-id="{{ id }}"
    data-section-type="section-4"
    class="section-4"
  >
  <!--div class="section-4-home max-w-1280">
    <div class="title-section-4">
      <h2 class="title-section-4-header">
        JOIN OUR FACEBOOK COMMUNITY
      </h2>
    </div>
    <div class="section-4-content">
      <div class="section-3-content-1 mb-0 pd-l-0" style="text-align: center;">
        <p class="text-section-4"> Learn more and connect with our private community </p>
        <div class="section-4-btn">
          <div class="sc-4-face-img">
            <img src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/icons_facebook.svg?v=1618123414" alt="facebook">
          </div>
          <div class="sc-4-btn">
            <div class="btn-sextion-4">
              LEARN MORE
            </div>
          </div>
          </div>
      </div>
        
  </div-->
  </section>
{% endif %}