
  <section
    data-section-id="{{ id }}"
    data-section-type="ingredients-free-of-section"
    class="free-of-section"
  >
    <div class="product-free-of-section">
      <h2 class="product-free-of-text">FREE OF:</h2>
      <div class="product-free-of-content">
        <div class="product-free-of-image">
          <img class="mx-w-30" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" alt="facebook">   
           <div class="title-header titel-hp">FRAGRANGE</div>
        </div>
        <div class="product-free-of-image">
          <img class="mx-w-30" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" alt="facebook">
          <div class="title-header titel-hp">  PARABENS</div>
        </div> 
        <div class="product-free-of-image">
          <img class="mx-w-30" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" alt="facebook">
          <div class="title-header titel-hp">STEROIDS</div>
        </div> 
        <div class="product-free-of-image">
          <img class="mx-w-30" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" alt="facebook">
          <div class="title-header titel-hp">SULFATES</div>
        </div> 
        <div class="product-free-of-image">
          <img class="mx-w-30" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641" alt="facebook">
          <div class="title-header titel-hp">DYES</div>
        </div>
      </div>
    </div>
  </section>
