<section data-section-id="{{ id }}" data-section-type="title-header" class="home-hero">
    <div class="doctormeet-content bg-grey">
        {% unless title == blank %}
        <div class="doctormeet-title-header__heading-image  max-w-1280">
            <img class="dr-img" src="{{link_text}}" loading="lazy" alt="hero" />

        </div>
        {% endunless %}
    </div>
</section>