<section data-section-id="{{ id }}" data-section-type="title-header" class="home-hero">
  <div class="ingredient-doctormeet-content">
    {% unless title == blank %}
    <div class="doctormeet-text_content-ing  max-w-725">
      <span class="doctormeet-text_content-titile-ing">{{title}}</span>

       {{ text }}
    </div>
    {% endunless %}
  </div>
</section>