<div class="fqa-footer max-w-1280">
    <h1>JOIN OUT FACEBOOK COMMUNITY</h1>
    <h2>Learn more and connect with our privite community</h2>
    <div class="fqa-footer-link">
        <a href="#">
            <img class="fqa-icon-comment-pro" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/icons_facebook.svg?v=1618123414" alt="facebook">
        </a>
        <button class="fqa-footer__newsletter-button">
            LEARN MORE 
          </button>
    </div>
</div>