<section data-section-id="{{ id }}" data-section-type="tick-content" class="tick bg-white">
    <div class="ingredients-tick-title max-w-1280">
        <span class="ingredients-tick-title-text">{{ title }}</span>
        <div style="align-items: center;">
            <div class="ingredients-tick-square">
                <img class="ingredients-tick-icon-content" src="{{link_text}}">
            </div>
        </div>
        <h2 class="ingredients-tick-text-bt">{{overline}}</h2>
    </div>
  
</section>
