
    <div class="ingredients-tick-title-detail">
            <div class="ingredients-tick-square-detail">
                <img class="ingredients-tick-icon-content" src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/check-symbol.png?v=1623577208">
            </div>
    </div>
