<section data-section-id="{{ id }}" data-section-type="free-of-section" class="ingredients-free-of">
  <div class="ingredients-free-of-section max-w-1280">
    <h2><span class="ingredients-free-of-title">WHAT'S OUT</span></h2>
    <div class="pd-ing">
      <img class="ingredients-image-full-of"
        src="https://cdn.shopify.com/s/files/1/0526/2570/3065/files/calmon_freeof_symbols_NO.svg?v=1621266641"
        alt="facebook">
    </div>
    <span class="ingredients-free-of-text">All CalmOn products are totally free of:</span>
    <div class="ingredients-free-of-image">
      <span class="ingredients-free-of-five-text">FRAGRANGE - PARABENS - STEROIDS - SULFATES - DYES</span>
    </div>
  </div>
</section>