<div class="modal" data-modal>
  <div class="modal__inner">
  <div class="modal__header">
    <a href="#" class="modal__close-icon" data-modal-close>
      {% render 'icon-close' %}
    </a>
  </div>
    <div class="modal__content rte"></div>
  </div>
</div>