<section class="max-w-1280 ps" data-section-id="{{ section.id }}" data-section-type="fqa-static">
  <class class="fqa__meta bg-white">
    <div class="fqa__meta-inner">
      <div class="fqa__header">
        <h1 class="fqa-category-header">jump to FAQ question category:</h1>
      </div>
      <div class="category">
        <a href="#shopify-section-fqa-product">
            <h2 class="category-text">PRODUCT / USAGE</h2>
        </a>
      </div>
      <div class="category">
        <a href="#shopify-section-fqa-skin">
        <h2 class="category-text">SKIN SCIENCE</h2>
        </a>
      </div>
      <div class="category last">
        <a href="#shopify-section-fqa-ship">
            <h2 class="category-text">SHIPPING & RETURNS</h2>
        </a>
      </div>
      <div class="category visible">
        <h2 class="category-text">4TH CATEGORY IF THERE IS ONE</h2>
      </div>
    </div>
    </class>
</section>