<div class="drawer store-availability-flyout" data-store-availability-drawer>
  <div class="store-availability-flyout__inner">
    <div class="store-availability-flyout__header">
      <div class="store-availability-flyout__product-info">
        <h4 class="store-availability-flyout__store-list-product-title type-heading-1-small mt0 mb0">
          {{ 'store_availability.general.availability' | t }}
        </h4>
      </div>
      <a href="#" data-store-availability-close>
        {% render 'icon-close' %}
      </a>
    </div>
    <div class="store-availbility-flyout__product" data-store-availability-product></div>

    <div class="store-availbility-flyout__content" data-store-list-container></div>
  </div>
</div>

