{% render 'content--gallery-grid' with
  id: section.id,
  enabled: section.settings.enabled,
  columns: section.settings.columns,
  aspect_ratio: section.settings.aspect_ratio,
  heading: section.settings.title,
  text: section.settings.text,
  blocks: section.blocks,
%}

{% schema %}
  {
    "name": "Gallery",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enable",
        "default": false
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 4
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "Image aspect ratio",
        "options": [
          { "label": "Organic", "value": "natural" },
          { "label": "Square (1:1)", "value": "square" },
          { "label": "Landscape (3:2)", "value": "landscape" },
          { "label": "Portrait (2:3)", "value": "portrait" }
        ],
        "default": "square"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Gallery"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Let people know where they can find images just like these. Don't forget to add a <a href='#'>link</a>.</p>"
      }
    ],
    "max_blocks": 12,
    "blocks": [
      {
        "type": "image",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
