@font-face {
    font-family: 'HelveticaNeueRoman';
    src: url('fonts/HelveticaNeueRoman.eot');
    src: url('fonts/HelveticaNeueRoman.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueRoman.woff2') format('woff2'),
         url('fonts/HelveticaNeueRoman.woff') format('woff'),
         url('fonts/HelveticaNeueRoman.ttf') format('truetype'),
         url('fonts/HelveticaNeueRoman.svg#HelveticaNeueRoman') format('svg');
}
