<!--parties-->
<div class="party" id="parties">
  <div class="party_text desktop">
    <img class="party-text-title"
      src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/party-haus-title.png?v=1590585911" width="90%"
      alt="party haus desktop">
    <div class="party_text_2">
      <div class="part_text_3">
        Want to celebrate with facials for all?
      </div>
      <p><span class="part_text_4">HOST A PRIVATE FACIAL PARTY</span><br>
        You and your guests will have Face Haus and its awesome estheticians all to yourselves for a customized
        celebration. Whether it's a bridal or baby shower, girls' or guys' night out, or a birthday (we're a teen
        fave), we're all about planning fun, facial-filled festivities.</p>
      <p>We can also coordinate local restaurants for your party fare, bring in a bartender or a DJ to set the right
        tone, and are happy to provide gift bags packed with our favorite skincare products.</p>
      <p><span class="part_text_4">CELEBRATE WITH A SMALLER GROUP OF YOUR FAVE FACES!</span><br>
        Have a group of friends you want to celebrate with during our regular Haus hours? We love hosting friends
        and are here to make it an awesome celebration for you all. Let's talk!</p>
      <p>Contact us <a class="part_text_4" href="mailto:info@thefacehaus.com" style="color:inherit">HERE</a> to
        book!</p>
    </div>
  </div>
  <div class="party_img">
    <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/party-haus-right.png?v=1590585935" width="100%"
      alt="collage of esthies on right side">
  </div>
  <div class="party_text mobile2">
    <img class="party-text-title"
      src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/party-haus-title.png?v=1590585911" width="90%"
      alt="party haus mobile2">
    <div class="party_text_2">
      <div class="about_inner_scroll">
        <div class="part_text_3">
          Want to celebrate with facials for all? </div>
        <p><span class="part_text_4">HOST A PRIVATE FACIAL PARTY</span><br>
          You and your guests will have Face Haus and its awesome estheticians all to yourselves for a customized
          celebration. Whether it's a bridal or baby shower, girls' or guys' night out, or a birthday (we're a teen
          fave), we're all about planning fun, facial-filled festivities.</p>
        <p>We can also coordinate local restaurants for your party fare, bring in a bartender or a DJ to set the
          right tone, and are happy to provide gift bags packed with our favorite skincare products.</p>
        <p><span class="part_text_4">CELEBRATE WITH A SMALLER GROUP OF YOUR FAVE FACES!</span><br>
          Have a group of friends you want to celebrate with during our regular Haus hours? We love hosting friends
          and are here to make it an awesome celebration for you all. Let's talk!</p>
        <p>Contact us <a class="part_text_4" href="mailto:info@thefacehaus.com" style="color:inherit">HERE</a> to
          book!</p>
      </div>
      <div class="bottom_about">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/bottom_fade.png?v=1591190731" width="100%"
          alt="bottom fade for effect"></div>
    </div>
  </div>
</div>