<style>
   .logo_small {
      display: block !important;
   }

   .logo_big {
      display: none !important;
   }

   #esthy_slider {
      display: none;
   }

   div.hello_text p {
      color: #007481;
   }
   .page-container{
      background-color: white;
   }
</style>

<div class="health-title">
   HEALTH &amp; SAFETY AT THE HAUS
</div>

<div class="health-wrapper">
   <div class="health-wrapper-within">
      <div class="health-inner">
         <div class="health-inner-left">
            <img class="face-future" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/safety-icon-1.jpg?v=1592810132"
               alt="haus cleaning">
            <span style="color: #fadc00;">HAUS CLEANING</span>
            <div class="list-items">
               <ul>
                  <li>Regular sterilization and cleaning of high-touch areas, such as door handles/knobs, communal
                     table, iPads, etc.</li>
                  <li>Daily deep cleaning of restrooms and disinfection after each use.</li>
                  <li>After every guest, treatment chairs, service station, sanitization station, and all operating
                     supplies and equipment will be cleaned and sanitized with EPA approved disinfectant per government
                     regulations.</li>
                  <li>Professional cleaning service for deep Haus cleaning twice weekly.</li>
               </ul>
            </div>
         </div>
         <div class="health-inner-center">
            <img class="face-future" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/safety-icon-2.jpg?v=1592810132"
               alt="appointment protocol">
            <span style="color: #fadc00;">APPOINTMENT PROTOCOL</span>
            <div class="list-items">
               <ul>
                  <li>Guests will receive a confirmation call to confirm booking, review safety standards, and double
                     check health status.</li>
                  <li>Guests will be strongly encouraged to complete the intake form online before arrival. A link to
                     this form will be in the appointment confirmation email.</li>
                  <li>Temperatures for all guests and FH employees will be taken prior to entering the Haus.</li>
                  <li>Each Haus will re-open at 25% capacity, utilizing every other facial station (more than 10 ft.
                     between guests).</li>
                  <li>Hauses will operate on a staggered schedule, so only one guest will be checking in or out at a
                     time.</li>
                  <li>We will be waiving all cancellations fees. If you are feeling unwell, please do not hesitate to
                     call us to cancel at any time.</li>
               </ul>
            </div>
         </div>
         <div class="health-inner-right">
            <img class="face-future" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/safety-icon-3.jpg?v=1592810132"
               alt="personal protective equipment">
            <span style="color: #fadc00;">PERSONAL PROTECTIVE EQUIPMENT</span>
            <div class="list-items">
               <ul>
                  <li>Estheticians will wear an apron, mask, and face shield, which will be sanitized after every
                     service.</li>
                  <li>New, disposable nitrile gloves will be worn for each new guest.</li>
                  <li>Guest Service Associates will wear a face mask at all times.</li>
                  <li>Guests are required to wear a face mask before and after their service. The mask can only be
                     removed during the actual service and we will provide if our guest does not have one.</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>