<style>
  .logo_small {display:block !important;}
  .logo_big {display:none !important;}
  #esthy_slider {display:none;}
  div.hello_text p{
	  color: #0071ce;
   }
   .packages-wrapper {		
      padding-left: 0;	
      margin-top: -6px;
	}
</style>
<div class="packages-wrapper  packages-end">
   <div class="packages-wrapper-within">
      <div class="packages-title">
         <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/packages-title.png?v=1591886919">
      </div>
      <div class="packages-inner">
         <div class="packages-inner-left">
            <h1><img class="face-future"
                  src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/lets-face-the-future-together.png?v=1591886919"
                  alt="LET'S FACE THE FUTURE TOGETHER"></h1>
         </div>
         <div class="packages-inner-right">
            <table>
               <tbody>
                  <tr class="odd">
                     <td class="first-column face-packages">FACE THE FUTURE PACKAGES</td>

                     <td align="center" class="center">3 PACK<br>$215<br><a
                           href="https://facehaus.zenoti.com/webstoreNew/sales/seriespackage/f4b87304-1594-4b5d-90ec-5169d5628f3c"><img
                              class="packages-buy-now"
                              src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/packages-buy-now.jpg?v=1591886919"
                              alt="buy now packages"></a></td>

                     <td align="center" class="center">6 PACK<br>$415<br><a
                           href="https://facehaus.zenoti.com/webstoreNew/sales/seriespackage/f4b87304-1594-4b5d-90ec-5169d5628f3c"><img
                              class="packages-buy-now"
                              src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/packages-buy-now.jpg?v=1591886919"
                              alt="buy now packages"></a></td>
                     <td class="last-column center">
                        <div class="package-star">
                           <img class="star-burst-bg"
                              src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star-burst-bg.png?v=1591886919">
                           <div class="star-burst center">
                              THE MINT MONTHLY <br>
                              12-PACK<br>
                              $69 / month
                           </div>

                        </div>
                     </td>
                  </tr>
                  <tr class="even">
                     <td class="first-column">Retail Discount</td>
                     <td class="center" class="center">10%</td>
                     <td class="center" class="center">10%</td>
                     <td class="center" class="center">10%</td>
                  </tr>
                  <tr class="odd">
                     <td class="first-column">Facial On-The-Haus Card</td>
                     <td class="center" class="center">X</td>
                     <td class="center" class="center">1</td>
                     <td class="center" class="center">2</td>
                  </tr>
                  <tr class="even">
                     <td class="first-column">$25 Retail Gift Card</td>
                     <td class="center">X</td>
                     <td class="center">X</td>
                     <td class="center"><span>✔</span></td>
                  </tr>
                  <tr class="odd">
                     <td class="first-column">Haus Birthday Gift</td>
                     <td class="center">X</td>
                     <td class="center">X</td>
                     <td class="center">✔</td>
                  </tr>
                  <tr class="even">
                     <td class="first-column">Surprise Perks &amp; Invites</td>
                     <td class="center">X</td>
                     <td class="center">X</td>
                     <td class="center">✔</td>
                  </tr>
                  <tr class="odd last-row">
                     <td class="first-column li-styled">
                        <ul>
                           <li>All packages:</li>
                           <li>* Good for $75 facial only<br>
                              (Wanna upgrade?
                              No problem,
                              just pay the difference)</li>
                           <li>* Facial on-the-haus for
                              new clients only</li>
                        </ul>
                     </td>
                     <td class="li-styled">
                        <ul>
                           <li>* not transferrable</li>
                           <li>* must be used
                              within 12 months
                              of purchase date
                           </li>
                        </ul>
                     </td>
                     <td class="li-styled">
                        <ul>
                           <li>* fully transferrable</li>
                           <li>* must be used
                              within 12 months
                              of purchase date</li>
                        </ul>
                     </td>
                     <td class="li-styled">
                        <ul>
                           <li>* not transferrable</li>
                           <li>* must be used
                              within 15 months
                              of purchase date</li>
                           <li>* one facial per month</li>
                        </ul>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>