<!--abouts-->
<div class="abouts hitrer" id="abouts">
  <div class="about_left desktop">
    <div class="about_photo1">
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/polaroid1-1.png?v=1590585965" width="100%"
        alt="the sub field one">
    </div>
    <div class="about_photo2 photo_top">
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/polaroid2.png?v=1590585987" width="100%"
        alt="the sub field one">
    </div>
    <div class="about_photo3">
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/polaroid3.png?v=1590586015" width="100%"
        alt="the sub field one">
    </div>
  </div>
  <div class="about_right desktop">
    <div id="abt_1" class="about_texts" style="display: none;">
      <div class="whatis">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/what.svg?v=1590507068" width="100%"
          alt="what is the face haus">
        <br><br>We Are Face Haus.<br> We Are Facials For The People!<br> All Are Welcome.
      </div>
      <p>Inspired by the sunny rays of southern California and with it, a daily need for healthy skin care, Face Haus
        is a collective of individuals, a community that celebrates diversity and camaraderie, and brings people
        together over the shared goal of feeling and looking fantastic from the inside out.</p>
      <p>Whichever the Haus, we’ll serve you with our fabulous, facials for less. And in our case, less is in fact
        more! The supreme performance of our estheticians, their superb touch and superior spa-worthy product range
        all factor into our face-care. Always accessible, definitely fun, ubiquitous in its appeal and superstar
        skincare specialists- we’re all about giving good face to the human race! </p>
    </div>
    <div id="abt_2" class="about_texts" style="display: block;">
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/Untitled-1.png?v=1590586045" width="100%"
        alt="what is the face haus">
      <div class="about_head">THE<br> FACE HAUS<br> STORY</div>
      <p>After a facial birthday party that broke the bank, good friends and busy, working moms Karey Burke, Dawn
        Olmstead and Jenn Worley went on the hunt for a great facial that they could afford on the regular.&nbsp; They
        couldn’t find what they were looking for- so they built it.</p>
      <p>The powerhouse trio envisioned a place where men, women &amp; teens could get fantastic, spa-grade facials
        without all the fuss (adios private, dark rooms and Peruvian flute music). A fun, fresh, modern destination
        with an upbeat attitude and an uplifting message of inclusion.&nbsp; The goal? A&nbsp;no-compromise accessible
        facial.</p>
      <p>They created a service menu with celebrity dermatologist Dr. Harold Lancer, hired a team of superstar
        estheticians, and brought their light-bulb moment to life. The first Face Haus launched in Los Angeles in
        2013, and the brand hasn’t stopped growing—or glowing—since.</p>
    </div>
    <div id="abt_3" class="about_texts" style="display: none;">
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/Untitled-1.png?v=1590586045" width="100%"
        alt="what is the face haus">
      <div class="about_head_2">HAUS + HOME</div>
      <p>Skin care isn’t the only kind of caring we do around here. As a growing brand, we realize we have an
        opportunity to make a difference in our communities. We have a Haus to call our own, but not everyone is as
        fortunate—so we’ve made a commitment to help in the fight against homelessness.</p>
      <p>This year, Face Haus is continuing its mission by partnering with BOMBAS, the one-for-one sock brand that
        donates a pair of socks for each pair sold. Bombas and Face Haus have introduced a signature FH mint green
        sock design – currently sold at all Face Haus locations. With each sock purchase, a pair will be donated to
        organizations combating homelessness in all of our Haus communities: Midnight Mission (Los Angeles), The
        Bridge Homeless Recovery Center (Dallas), and the Bowery Mission Women’s Residence (New York). </p>
      <p>Our local Face Haus teams have also had the enriching opportunity to work across these three organizations as
        volunteers for community meals and giving events. </p>
      <p>Stay tuned for updates and opportunities on our website and social feeds as we do our part to brighten the
        lives of those in need.</p>
    </div>
  </div>
</div>
<div class="about_right mobile2" id="abt_mobile">
  <div class="abt_slide">
    <img class="abt_mob" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/polaroid3.png?v=1590586015"
      width="100%" alt="haus + home">
    <div class="about_texts">
      <div class="whatis"> <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/what.svg?v=1590507068"
          width="100%" alt="the face haus story">
        <br><br>We Are Face Haus.<br> We Are Facials For The People!<br> All Are Welcome.
      </div>
      <div class="about_inner_scroll">
        <p>Inspired by the sunny rays of southern California and with it, a daily need for healthy skin care, Face
          Haus is a collective of individuals, a community that celebrates diversity and camaraderie, and brings
          people together over the shared goal of feeling and looking fantastic from the inside out.</p>
        <p>Whichever the Haus, we’ll serve you with our fabulous, facials for less. And in our case, less is in fact
          more! The supreme performance of our estheticians, their superb touch and superior spa-worthy product range
          all factor into our face-care. Always accessible, definitely fun, ubiquitous in its appeal and superstar
          skincare specialists- we’re all about giving good face to the human race! </p>
      </div>
      <div class="bottom_about">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/bottom_fade.png?v=1591190731" width="100%"
          alt="bottom fade for effect">
      </div>
    </div>
  </div>
  <div class="abt_slide">
    <img class="abt_mob" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/polaroid2.png?v=1590585987"
      width="100%" alt="haus + home">
    <div class="about_texts">
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/Untitled-1.png?v=1590586045" width="100%"
        alt="the face haus story">
      <div class="about_head">THE<br> FACE HAUS<br> STORY</div>
      <div class="about_inner_scroll">
        <p>After a facial birthday party that broke the bank, good friends and busy, working moms Karey Burke, Dawn
          Olmstead and Jenn Worley went on the hunt for a great facial that they could afford on the regular.&nbsp;
          They couldn’t find what they were looking for- so they built it.</p>
        <p>The powerhouse trio envisioned a place where men, women &amp; teens could get fantastic, spa-grade facials
          without all the fuss (adios private, dark rooms and Peruvian flute music). A fun, fresh, modern destination
          with an upbeat attitude and an uplifting message of inclusion.&nbsp; The goal? A&nbsp;no-compromise
          accessible facial.</p>
        <p>They created a service menu with celebrity dermatologist Dr. Harold Lancer, hired a team of superstar
          estheticians, and brought their light-bulb moment to life. The first Face Haus launched in Los Angeles in
          2013, and the brand hasn’t stopped growing—or glowing—since.</p>
      </div>
      <div class="bottom_about">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/bottom_fade.png?v=1591190731" width="100%"
          alt="bottom fade for effect">
      </div>
    </div>
  </div>
  <div class="abt_slide">
    <img class="abt_mob" src="https://staging.thefacehaus.com/wp-content/uploads/2019/06/polaroid1-1.png" width="100%"
      alt="haus + home">
    <div class="about_texts">
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/Untitled-1.png?v=1590586045" width="100%"
        alt="the face haus story">
      <div class="about_head_2">HAUS + HOME</div>
      <div class="about_inner_scroll">
        <p>Skin care isn’t the only kind of caring we do around here. As a growing brand, we realize we have an
          opportunity to make a difference in our communities. We have a Haus to call our own, but not everyone is as
          fortunate—so we’ve made a commitment to help in the fight against homelessness.</p>
        <p>This year, Face Haus is continuing its mission by partnering with BOMBAS, the one-for-one sock brand that
          donates a pair of socks for each pair sold. Bombas and Face Haus have introduced a signature FH mint green
          sock design – currently sold at all Face Haus locations. With each sock purchase, a pair will be donated to
          organizations combating homelessness in all of our Haus communities: Midnight Mission (Los Angeles), The
          Bridge Homeless Recovery Center (Dallas), and the Bowery Mission Women’s Residence (New York). </p>
        <p>Our local Face Haus teams have also had the enriching opportunity to work across these three organizations
          as volunteers for community meals and giving events. </p>
        <p>Stay tuned for updates and opportunities on our website and social feeds as we do our part to brighten the
          lives of those in need.</p>
      </div>
      <div class="bottom_about">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/bottom_fade.png?v=1591190731" width="100%"
          alt="bottom fade for effect">
      </div>
    </div>
  </div>
</div>
<!--end-->