<style>
   body, html {
		background-image: url(https://cdn.shopify.com/s/files/1/0386/7390/7756/files/corp-wellness-bg.png?v=1592234197);
	}
   .logo_small {
      display: block !important;
   }

   .logo_big {
      display: none !important;
   }
   #esthy_slider {
      display: none;
   }
   .hausmaskticker {
		margin:0 auto;
		width:84%;
	}
	.hausmaskticker img {
		margin-top: 60px;
	}
	.landing {
		background: #fff !important;
	}
</style>
<div class="landing">
	<div class="hausmaskticker">
		<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/mask-and-you-shall-receive-main.jpg?v=1592237857" width="100%"/>
	</div>
</div>