<script>

    $(document).ready(function () {
        $('#logo_scroll').hide();
        $('#esthy_slider').hide();
        $('.logo_small').show();
        //esthy_slider
    });

</script>
    

<div id="main-container-press" class="haus-view-slider_press">
    <div class="loc_arrow">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-2.svg?v=1591370077"
            alt="right arrow mobile2" width="100%">
    </div>
    <div class="loc_arrow2">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-2.svg?v=1591370078"
            alt="left arrow mobile2" width="100%">
    </div>
    <div class="press_slideshow">
        <div class="cycle-slideshow desktop" data-cycle-fx="scrollHorz" data-cycle-timeout="0" data-cycle-speed="800"
            data-cycle-prev=".loc_arrow2" data-cycle-next=".loc_arrow" data-cycle-slides="> div">
            <div class="press_slide cycle-slide cycle-slide-active"
                style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: visible;">
                <div class="press_slide_holderss"
                    style="max-width: 1350px !important; margin-left: auto; margin-right: auto; position: relative; height: 100%; width: 100%;">
                    <div class="press_block" id="p1_5">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/da382bb3-bf1e-4d64-8839-d4c5a5bd4a9c.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Breaking down walls—both physically
                                and metaphorically — to provide skincare
                                to everyone that is as approachable and
                                accessible as it is affordable.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p2_5">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/9afe3a7d-8235-4158-8e19-893e753e2d19.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Best affordable facial in NYC.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p3_5">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/59170a44-0d43-4803-8273-e6bacd97cb6e.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>You haven’t lived until you’ve had chilled blue
                                Pyrex balls rolled over your face.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p4_5">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/94617474-e37f-4ca7-a625-1ef3ffd7fab3.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>A facial membership to commit to.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p5_5">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/9afe3a7d-8235-4158-8e19-893e753e2d19.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>With an open floor plan that doesn’t leave you
                                feeling too exposed, it’s a perfect spot to grab a
                                facial with a friend or a whole gaggle of them.</q>
                        </div>
                    </div>

                </div>
            </div>
            <div class="press_slide cycle-slide"
                style="position: absolute; top: 0px; left: 0px; z-index: 99; visibility: hidden;">
                <div class="press_slide_holderss"
                    style="max-width: 1350px !important; margin-left: auto; margin-right: auto; position: relative; height: 100%; width: 100%;">
                    <div class="press_block" id="p1">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/forbes-2.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Since opening in 2013, the new kid on the block
                                might be the topping point that makes Santa Monica's Montana Avenue officially Facial
                                Row.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p2">
                        <div class="p_img_option show p_img_3"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/08/d_img.png" width="100%">
                        </div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/08/d_logo.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;">Best of Winner 2019</div><q>This LA transplant is the
                                answer
                                to our skin care prayers.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p3">
                        <div class="p_img_option show p_img_2"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/08/bal.png" width="100%">
                        </div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/08/la_logo.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;">Best of Winner 2019</div><q>All that not-getting-naked
                                stuff
                                translates to major time
                                (and money) savings for you.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p4">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/VOGUE_LOGO.svg-3.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q> While securing an appointment with L.A.’s most
                                sought-after dermatologist, Harold Lancer, M.D., might be a breeze for clients Beyoncé
                                and Michelle Williams, anyone can drop by Face Haus for the famous Lancer glow.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p5">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/goop_logo-2.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>The idea and execution here are brilliant: Face
                                Haus is a facial bar with treatment chairs spaced evenly apart in one huge, airy
                                room</q>
                        </div>
                    </div>
                    <div class="press_block" id="p6">
                        <div class="p_img_option show p_img_1"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/Untitled-9.png"
                                width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/enews_logo-1.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Fight on Bachelor Nation! The Bachelor’s Nick
                                Viall celebrated the grand opening of Face Haus’ new location.
                            </q>
                        </div>
                    </div>

                </div>
            </div>
            <div class="press_slide cycle-slide"
                style="position: absolute; top: 0px; left: 0px; z-index: 97; visibility: hidden;">
                <div class="press_slide_holderss"
                    style="max-width: 1350px !important; margin-left: auto; margin-right: auto; position: relative; height: 100%; width: 100%;">
                    <div class="press_block" id="p1_3">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/instyle-1.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>The best facial in the city at an incredible
                                price. The space is very nice and Instagram friendly.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p2_3">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/daily-2.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Face Haus is here to make facials fast, affordable
                                and fun.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p4_3">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/la_elements-1.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>From the kind and sincere greeting upon our
                                arrival, to the use of some of the most acclaimed beauty products as part of our facial,
                                to the in-depth knowledge of our esthetician Tiffany, we knew were in good hands and we
                                do mean that literally.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p3_3">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/spa-1.jpg" width="100%">
                        </div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Face Haus’ stunning open concept and fresh modern
                                design will make the perfect addition to the new USC Village.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p7">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/women-1.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Though it's a truly luxurious destination and
                                experience, your wallet won't feel it.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p5_3">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/timeout-1.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Fast, efficient and effective facials.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p6_3">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/2000px-Los_Angeles_Times_logo.svg.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Face Haus is filling a niche for clients who want
                                a full service facial quickly and at a lower price.</q>
                        </div>
                    </div>

                </div>
            </div>
            <div class="press_slide cycle-slide"
                style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden;">
                <div class="press_slide_holderss"
                    style="max-width: 1350px !important; margin-left: auto; margin-right: auto; position: relative; height: 100%; width: 100%;">
                    <div class="press_block" id="p1_2">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/refinery-2.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Face Haus is our go-to for super-speedy (yet
                                amazingly efficient) facials.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p2_2">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/angelo-1.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Face Haus teamed up with celebrity dermatologist
                                Harold Lancer, M.D. to design a streamlined menu of services to target common complexion
                                woes.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p4_4">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/where-1.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>The treatment may be quick, but the results are
                                glowing.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p3_2">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/uncover-1.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>Face Haus' 40-minute facials are just $65, which
                                amounts to — and we're totally guessing here — approximately 16.25 sugary coffee drinks
                                from Starbucks or, well, $65 of random dorm stuff you didn't need at Target.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p5_2">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/frontiers-1.jpg"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>The work is quick and the space is clean and
                                relaxing, while the prices are a great draw.</q>
                        </div>
                    </div>
                    <div class="press_block" id="p6_2">
                        <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                        <div class="press_img"><img
                                src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/cmag_logo-1.png"
                                width="100%"></div>
                        <div class="press_text2">
                            <div style="margin-bottom: 5px;"></div><q>The speed spa tapped Harold Lancer, M.D. (Oprah's
                                go-to-guy) to help create wallet-friendly facials using luxury products for all
                                on-the-go Angelenos.</q>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--mobi-->
        <div style="z-index: 10; position: absolute; top: 0px; overflow: hidden;" class="cycle-slideshow mobile2"
            data-cycle-fx="scrollHorz" data-cycle-timeout="0" data-cycle-speed="800" data-cycle-prev=".loc_arrow2"
            data-cycle-next=".loc_arrow" data-cycle-slides="> div">
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 90; opacity: 1; display: block; visibility: hidden;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/da382bb3-bf1e-4d64-8839-d4c5a5bd4a9c.png"
                            width="100%"></div>
                    <div class="press_text2"><q>Breaking down walls—both physically
                            and metaphorically — to provide skincare
                            to everyone that is as approachable and
                            accessible as it is affordable.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 89; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/9afe3a7d-8235-4158-8e19-893e753e2d19.png"
                            width="100%"></div>
                    <div class="press_text2"><q>Best affordable facial in NYC.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 88; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/59170a44-0d43-4803-8273-e6bacd97cb6e.png"
                            width="100%"></div>
                    <div class="press_text2"><q>You haven’t lived until you’ve had chilled blue
                            Pyrex balls rolled over your face.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 87; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/94617474-e37f-4ca7-a625-1ef3ffd7fab3.png"
                            width="100%"></div>
                    <div class="press_text2"><q>A facial membership to commit to.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 86; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2020/01/9afe3a7d-8235-4158-8e19-893e753e2d19.png"
                            width="100%"></div>
                    <div class="press_text2"><q>With an open floor plan that doesn’t leave you
                            feeling too exposed, it’s a perfect spot to grab a
                            facial with a friend or a whole gaggle of them.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 85; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/forbes-2.png" width="100%">
                    </div>
                    <div class="press_text2"><q>Since opening in 2013, the new kid on the block might be the topping
                            point that makes Santa Monica's Montana Avenue officially Facial Row.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 84; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option show p_img_3"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/08/d_img.png" width="100%">
                    </div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/08/d_logo.png" width="100%">
                    </div>
                    <div class="press_text2"><q>This LA transplant is the answer
                            to our skin care prayers.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 83; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option show p_img_2"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/08/bal.png" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/08/la_logo.png" width="100%">
                    </div>
                    <div class="press_text2"><q>All that not-getting-naked stuff
                            translates to major time
                            (and money) savings for you.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 82; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/VOGUE_LOGO.svg-3.png"
                            width="100%"></div>
                    <div class="press_text2"><q> While securing an appointment with L.A.’s most sought-after
                            dermatologist, Harold Lancer, M.D., might be a breeze for clients Beyoncé and Michelle
                            Williams, anyone can drop by Face Haus for the famous Lancer glow.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 81; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/goop_logo-2.png"
                            width="100%"></div>
                    <div class="press_text2"><q>The idea and execution here are brilliant: Face Haus is a facial bar
                            with treatment chairs spaced evenly apart in one huge, airy room</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 80; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option show p_img_1"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/Untitled-9.png"
                            width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/enews_logo-1.png"
                            width="100%"></div>
                    <div class="press_text2"><q>Fight on Bachelor Nation! The Bachelor’s Nick Viall celebrated the grand
                            opening of Face Haus’ new location.
                        </q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 79; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/instyle-1.jpg" width="100%">
                    </div>
                    <div class="press_text2"><q>The best facial in the city at an incredible price. The space is very
                            nice and Instagram friendly.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 78; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/daily-2.jpg" width="100%">
                    </div>
                    <div class="press_text2"><q>Face Haus is here to make facials fast, affordable and fun.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 77; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/la_elements-1.jpg"
                            width="100%"></div>
                    <div class="press_text2"><q>From the kind and sincere greeting upon our arrival, to the use of some
                            of the most acclaimed beauty products as part of our facial, to the in-depth knowledge of
                            our esthetician Tiffany, we knew were in good hands and we do mean that literally.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 76; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/spa-1.jpg" width="100%">
                    </div>
                    <div class="press_text2"><q>Face Haus’ stunning open concept and fresh modern design will make the
                            perfect addition to the new USC Village.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 82; visibility: hidden; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/women-1.jpg" width="100%">
                    </div>
                    <div class="press_text2"><q>Though it's a truly luxurious destination and experience, your wallet
                            won't feel it.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide cycle-slide-active"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 99; visibility: visible; opacity: 1; display: block;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/timeout-1.jpg" width="100%">
                    </div>
                    <div class="press_text2"><q>Fast, efficient and effective facials.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 97; visibility: hidden;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/2000px-Los_Angeles_Times_logo.svg.png"
                            width="100%"></div>
                    <div class="press_text2"><q>Face Haus is filling a niche for clients who want a full service facial
                            quickly and at a lower price.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 96; visibility: hidden;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/refinery-2.jpg"
                            width="100%"></div>
                    <div class="press_text2"><q>Face Haus is our go-to for super-speedy (yet amazingly efficient)
                            facials.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 95; visibility: hidden;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/angelo-1.jpg" width="100%">
                    </div>
                    <div class="press_text2"><q>Face Haus teamed up with celebrity dermatologist Harold Lancer, M.D. to
                            design a streamlined menu of services to target common complexion woes.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 94; visibility: hidden;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/where-1.jpg" width="100%">
                    </div>
                    <div class="press_text2"><q>The treatment may be quick, but the results are glowing.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 93; visibility: hidden;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/uncover-1.jpg" width="100%">
                    </div>
                    <div class="press_text2"><q>Face Haus' 40-minute facials are just $65, which amounts to — and we're
                            totally guessing here — approximately 16.25 sugary coffee drinks from Starbucks or, well,
                            $65 of random dorm stuff you didn't need at Target.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 92; visibility: hidden;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/frontiers-1.jpg"
                            width="100%"></div>
                    <div class="press_text2"><q>The work is quick and the space is clean and relaxing, while the prices
                            are a great draw.</q>
                    </div>
                </div>
            </div>
            <div class="p_holder cycle-slide"
                style="width: 100%; position: absolute; height: 100%; top: 0px; left: 0px; z-index: 91; visibility: hidden;">
                <div class="press_block">
                    <div class="p_img_option hiddene p_img_"><img src="" width="100%"></div>
                    <div class="press_img"><img
                            src="https://staging.thefacehaus.com/wp-content/uploads/2019/02/cmag_logo-1.png"
                            width="100%"></div>
                    <div class="press_text2"><q>The speed spa tapped Harold Lancer, M.D. (Oprah's go-to-guy) to help
                            create wallet-friendly facials using luxury products for all on-the-go Angelenos.</q>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>