<div class="main-container">
  <!--join-->
  <div class="join" id="join">
    <div class="join_header">THE HAUS IS HIRING!
    </div>
    <div class="join_text">
      <div class="jt_1">
        <div class="join_copy">
          HAUS IS HIRING
        </div>
        <div class="join_copy_2">
          <p>Face Haus is growing, and we’re scouting a superstar squad to keep our clients glowing!</p>
          <p>Are you positive, passionate, open-minded and warm-hearted? Are you looking for a brand that cares about
            embracing people for who they are and supports them with healthy living wages, benefits and long-term career
            pathing? Are you revved-up about our facial revolution? Then you’ll fit right in at our Haus.</p>
          <p>As our locations expand, we’re committed to building a top-notch team from coast-to-coast. We’re currently
            hiring both full and part-time positions for Hauses in Los Angeles, Dallas and NYC. We want to hear from
            you!</p>
          <p><a
              href="https://www.indeedjobs.com/face-haus-llc/_hl/en_US?cpref=JXWAtnzf3XW5aRnY2g_zoikN87qYWwuQM2ji_UxUl2I"
              target="blank" style="color:#1518a6">Click here</a> to see our current open positions!</p>
          <p>If you are interested in an Esthetician or Guest Services position at one of our hauses and the position is
            not listed on our careers page, please send your resume to <a href="mailto:joinus@thefacehaus.com"
              class="email_text">joinus@thefacehaus.com</a> and be sure to note the preferred position and location in
            the subject line.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-->