<div class="main-container max-w-1280">

  <div class="servives-section-left">
    {% section 'services-all_skin_types_conditions-page-left'%}
  </div>
  <div class="servives-section-right">
    {% section 'sections-services-page-right'%}
  </div>

  <div class="servives-section-buttom">
    {% section 'services-all_skin_types_conditions-collection' %}
    
  </div>
</div>

