<style>
  .logo_small {display:block !important;}
  .logo_big {display:none !important;}
  #esthy_slider {display:none;}
</style>
<div class="packages-wrapper">
	<div class="giving-key-left">
		<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/great-face-coming-soon.png?v=1591886779" alt="great face coming soon">
	</div>
	<div class="giving-key-right">
		<div class="mapcard"><div id="map" style=" max-width: 95%;"><div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3465.118716628709!2d-95.41848008499093!3d29.716320240953294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c05d9dd5e773%3A0xc4e20d2bd7bd48fd!2s2400%20University%20Blvd%20Unit%20A-125%2C%20Houston%2C%20TX%2077005!5e0!3m2!1sen!2sus!4v1574018683110!5m2!1sen!2sus" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>
				<div class="under_map_text">Haus Houston Rice Village - Opening Spring 2020
					<br>2509 Amherst Street, Unit A-125, Houston, TX, 77005<br><br>
					Email us: <a href="mailto:houstonrv@thefacehaus.com" style="color:  inherit" target="_blank">houstonrv@thefacehaus.com</a><br>
				</div>
		</div>
	</div>
</div>