<style>
	h1 {
		font-family: HelveticaNeueRoman;
	}
	.logo_small {
      display: block !important;
   }

   .logo_big {
      display: none !important;
   }
   #esthy_slider {
      display: none;
   }
</style>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px; margin-top: 80px;">
<h1>PRIVACY POLICY</h1>
Face Haus is dedicated to protecting your data privacy and safety. We want to be completely transparent about how we use it — this policy explains what data we collect about you, why and how we use it, as well as how we share and manage your information. It also provides your choices and rights regarding this data, so please read it carefully to be fully informed.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>WHAT INFORMATION WE COLLECT AND WHY</strong><br> When you book a treatment or shop online with Face Haus, we collect your data in a variety of ways, including when you choose to share it with us. When you purchase at a Face Haus location, we may ask you for the following information to contact you about your purchase or send you a receipt via email. We do not issue paper receipts. You have the option to agree with or deny sharing this information with us. • Name • Email address • Phone number When you book a facial or make a purchase on Face Haus’ website, we will ask for the following information. This information is necessary to collect payment, process &amp; ship your order, and to communicate order status. • Name • Email address • Shipping &amp; Billing Address • Phone number • Payment details Booking a facial will result in creating an account in Zenoti, our third party booking software, and shopping online will result in creating an account. If you choose to create an account, we will create a profile containing your order history &amp; stored addresses for easy access. All of your order history is stored within our system, so creating an account simply provides you with access to that information.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>MOBILE MESSAGING</strong><br>
 By inputting your mobile number while booking your appointment, you are eligible to receive a text reminder about an upcoming appointment. You may opt-out from receiving these SMS messages by emailing us at info@thefacehaus.com.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>NEWSLETTER</strong><br>When you sign up for our email newsletter, we will ask for your email address. Additionally, you have the option to share the following information with us, which we use to personalize the marketing messages you receive from us. • Name • Email • Birthday You can choose to stop receiving Face Haus emails at any time, by clicking “unsubscribe” at the bottom of any Face Haus marketing email. Face Haus appointment emails (i.e., confirmations, cancellations) and post-treatment review emails (i.e., 5-star rating emails) must be unsubscribed separately from marketing emails. When you contact us via email or phone, we will ask for information to identify you in our system. This is needed to provide timely assistance. We may also ask for your feedback in shopping or communicating with us to improve our services. When you visit our website, the following technical information will be collected, in order to protect your data and our website. We also use this information to improve our shopping experience, products and services provided. • IP address • Your browser type • Your operation system • Your browse behavior on our website, such as product pages visited • Shopping behavior on our website, utilized for delivery of re-marketing and promotional offers We also use ‘cookies’ to collect data on pages you view on our site, as well as to power the delivery of re-marketing and promotional offers.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>ADS ON OTHER SITES</strong> <br>If you choose to give other sites your data (such as Google or Facebook) their rules apply to that data, not ours. We do purchase ads on these sites, so if you have provided them with your data, then you will likely see our ads on these sites. If you do not wish to see these ads, you will have to contact the other sites directly.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>WHAT DO WE DO WITH YOUR INFORMATION?</strong><br>When you book a facial, receive a facial, purchase something from our store or online shop, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address. When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system. With your permission, we may send you emails about skincare information, new products, and other brand updates. We may share your data within the Face Haus company. We may also share it with others who help us serve you. We will share your data with some supporting companies to help us process data, host our digital channels, process payments, send communications, fulfill orders, or provide us or you with services while shopping with us. These companies are required by law to protect your data and cannot use your data with the exception of helping us provide you with products and services or as allowed by the privacy law and our contracts.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>HOW WE GET YOUR CONSENT</strong><br>When you provide us with personal information to book an appointment, complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>AGE OF CONSENT</strong><br>By using this site and/or by accepting our policies, you represent that you are above the age of 16. If you are below the age of 16, then a parent or legal guardian must consent on your behalf. If we learn that we have collection any data for someone aged under 16, then we will delete it.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>WITHDRAW CONSENT</strong><br>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at any time, by contacting us at info@thefacehaus.com or mailing us at: Face Haus, 110 N. Robertson Blvd, Los Angeles, CA 90048.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>DISCLOSURE</strong><br>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;  ">
<strong>THIRD-PARTY SERVICES</strong><br>In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us. However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions. For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers. In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located. As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act. Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</div>
<br>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px;   margin-bottom: 100px;">
<strong>LINKS ON OUR SITE</strong><br>When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</div>
