<style>
  .logo_small {display:block !important;}
  .logo_big {display:none !important;}
  #esthy_slider {display:none;}
</style>
<div class="packages-wrapper">
	<div class="giving-key-left">
		<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/great-face-coming-soon.png?v=1591886779" alt="great face coming soon">
	</div>
	<div class="giving-key-right">
		<div class="mapcard"><div id="map" style=" max-width: 95%;"><div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.8280993168146!2d-118.32621068517821!3d34.07392062403561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b8c74e852f95%3A0x43c676a8b85ec760!2s129%20N%20Larchmont%20Blvd%2C%20Los%20Angeles%2C%20CA%2090004!5e0!3m2!1sen!2sus!4v1574392646090!5m2!1sen!2sus" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>
				<div class="under_map_text">Haus Larchmont Village – Opening Spring 2021
					<br>129 N Larchmont Blvd Los Angeles, CA, 90004<br><br>
					Email us: <a href="mailto:larchmont@thefacehaus.com" style="color:  inherit" target="_blank">larchmont@thefacehaus.com</a><br>
				</div>
		</div>
	</div>
</div>