<style>
   body, html {
		background-image: url(https://cdn.shopify.com/s/files/1/0386/7390/7756/files/corp-wellness-bg.png?v=1592234197);
	}
   .logo_small {
      display: block !important;
   }

   .logo_big {
      display: none !important;
   }
   .corp-wellness .packages-wrapper-within {
		background-color:#fff;
		width:90%;
		margin:0 auto;
   }
   .corp-wellness .packages-inner-left h1 img {
		width: 75%;
	}
	.corp-wellness .packages-inner-left-copy {
		font-size: 13px;
		color: #636569;
		width: 92%;
		margin: auto;
		font-family: 'HelveticaNeueRoman';
		font-weight: bold;
	}
	.corp-wellness .packages-inner-right-titles {
		color: #0f7480;
		font-size: 16px;
		font-style: italic;
	}
	.corp-wellness .packages-inner-right-titles h2 {
		font-size: 17px;
		text-transform:none;
	}
	.corp-wellness .packages-inner-left-copy {
		font-size: 13px;
		color: #636569;
		width: 92%;
		margin: auto;
		font-family: 'HelveticaNeueRoman';
		font-weight: bold;
	}
	.corp-wellness .packages-inner-right-content p, ul {
		color: #636569;
		font-family: 'HelveticaNeueRoman';
		margin-block-start: 0;
		margin-block-end: 0;
		font-size: 12px;
	}
	.corp-wellness .packages-inner-right-content h3 {
		text-transform: uppercase;
		color: #000;
		font-size: 16px;
		margin-block-start: 0;
		margin-block-end: 0;
	}
	.corp-wellness .packages-inner-right-content li:before {
		width: 12px;
		content: " ";
		background-image:url("https://cdn.shopify.com/s/files/1/0386/7390/7756/files/corp-wellness-li-star.png?v=1592235123");
		position: absolute;
		height: 12px;
		background-size: 12px 12px;
		background-repeat: no-repeat;
		margin-left: -17px;
		margin-top: 2px;
	}
	.corp-wellness .packages-inner-right-content li {
		margin-left: 25px;
		line-height: 16px;

	}
	.corp-wellness .packages-inner-right-content .email-at-bottom a {
		color: #0f7480;
		font-weight: bold;
	}
	
@media screen and (max-width: 900px){
	.corp-wellness .packages-inner-left {
		padding-left: 0;
    	padding-right: 0;
	}
	.corp-wellness .packages-inner-right-content.email-at-bottom.next-need-padd.and-last {
	    padding-bottom: 30px;
	}
	.corp-wellness .packages-inner-left-copy {
	    width: 92%;
	    margin-top: 50px;
	}
	.corp-wellness .packages-inner-left {
		margin-top: 65px;
	}
	.corp-wellness .packages-wrapper {
		margin-top:0;		
	}
	.corp-wellness .packages-inner {
	    width: 95%;
	    margin: 0 auto;
	}
	.corp-wellness .packages-title {
		width: 50%;
		position: initial;		
		margin:0 auto;
		margin-top:50px;
	}
	.corp-wellness .packages-inner-left {
		margin-top:15px;
		width:100%;
		
	}
	.corp-wellness .packages-inner-left h1 {
		font-size:60px;
		line-height: 0.9;
		color:white;
		margin:0;
	}
	.corp-wellness .packages-inner-right {
		width:96%;
		
	}
}
	
@media screen and (max-width: 1025px){
	
    .corp-wellness .packages-inner {
	    width: 90%;
	    margin: 0 auto;
	}
	.corp-wellness .packages-inner-left h1 {
		font-size:70px;
		line-height: 1.1;
		color:white;
		margin:0;
	}
	.corp-wellness .packages-title {	   
	    top: 15px;	    
	}
}
@media (min-width: 1001px) and (max-width: 1550px) {
	.corp-wellness .packages-wrapper-within-container {
		width: 90%;
	}
	.corp-wellness .packages-wrapper-within {
		width: 90%;
		margin: 0 auto;
	}
}
   
</style>
<div class="packages-wrapper corp-wellness">
	
		<div class="packages-wrapper-within">
			<div class="packages-inner">
				<div class="packages-inner-left">
					<h1><img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/corp-wellness-logo.png?v=1592233822" alt="The Face Haus Corporate Wellness Program"></h1>
					<div class="packages-inner-left-copy">
						<p>Hello, Neighbor!<br />
						We’d love to welcome you and your colleagues to our Haus.
						We are a fast-growing company and we know what it’s like
						to put hard work first. We also know you deserve some
						awesome, affordable skincare. After all, your face is out
						there front and center every day.</p>

					</div>
				</div>
				<div class="packages-inner-right">
					<div class="packages-inner-right-titles">
						<h2>Here are some ways we can work together (none are mutually exclusive):</h2>
					</div>
					<div class="packages-inner-right-content">
						<div class="packages-inner-right-content">
							<h3>Corporate Pricing</h3>
							<p>We're more "touchy-feely" than "corporate" but we do offer great pricing for businesses in our area. Come in before or after work, or during your lunch break and receive:</p>
							<ul>
								<li>10% off on all facials booked Monday - Thursday</li>
								<li>Or if it's your first time at Face Haus, get 15% off facials booked Monday – Thursday</li>
							</ul>
						</div>
						<div class="packages-inner-right-content next-need-padd">
							<h3>Employee Incentives & Rewards</h3>
							<p>We offer discounts on gift cards of $65+ each. These are perfect for holiday gifts, promotions, sales goal rewards, and more.</p>
							<ul>
								<li>10 cards - 5% off</li>
								<li>25 cards - 10% off</li>
								<li>50+ cards - 15% off</li>
								<li>* Corporate discounts cannot be combined with any other offers</li>
							</ul>
						</div>
						<div class="packages-inner-right-content next-need-padd">
							<h3>Haus Parties</h3>
							<p>(Face it- all teams need bonding time!)</p>
							<ul>
								<li>Looking for a fun offsite, team bonding, or client appreciation events? Book a private Haus Party and have the space all to yourself – we can coordinate partnerships with local food/ beverage to make your event even better. And facials included of course!</li>
								<li>For companies of 50 or more, we can bring the Haus to you and do mini services on site for a wellness day or sales meeting/conference.</li>
							</ul>
						</div>
						<div class="packages-inner-right-content email-at-bottom next-need-padd and-last">
							<p>If you are interested in any of these partnerships, please email us at<br />
							<a href="mailto:info@thefacehaus.com" target="_blank">info@thefacehaus.com</a> for more details</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>