<!--- Main Page--->
<div class="main_page-target_">
  <div id="main_slider slider-target">
    <div class="abouts hitrer target-main " id="abouts">
      <div class="about_left">
        <div id="abt_1" class="about_texts" style="display: block; width: 100%;">
          <div class="whatis services_block target-img" data-uw-styling-context="true">
            <img src="https://cdn.shopify.com/s/files/1/0441/5261/9170/files/1.png?v=1620738917" width="100%"
              alt="what is the face haus" class="w-80-x">
            <br> <br>
            <H2 class="font-h2">TARGET RUN, GREAT SKIN &amp; DONE</H2>
            <p class="price-item subtitle_products brandname_ text_target">
              Face Haus is settign up shop at select Target stores to give you spa-grade facials
              on the go with our expert esthies and products for the people</p>
            <div id="book_btn" class="book_this_btn w-150-x">
              <span class="book_btn" data-uw-styling-context="true">BOOK NOW</span>
            </div>
          </div>
        </div>
      </div>
      <div class="about_right mg-0">
        <div class="photo_top">
          <img class="img_target_" src="https://cdn.shopify.com/s/files/1/0441/5261/9170/files/2.png?v=1620738918"
            width="150%" alt="the sub field one">
        </div>
      </div>
    </div>
  </div>
</div>
<!--- main_content_downs-->
<div class="main_content_downs_">
  <div class="accordion-wrap">
    <h3 class="accordion-menu" data-uw-styling-context="true">
      HAUS DESCRIPTIONS
      <span class="accordion-menu-arrow desktop"></span>
    </h3>
    <div class="accordion-menu-item hause-services" style="display: none;">
      <p class="descriptions-text" data-uw-styling-context="true">
        Facial Spa located on Montana Avenue in Santa Monica. Our open concept facial bar offers affordable, accessible
        spa-grade facials by estheticians who are experts in skin analysis, cleansing, exfoliation, microdermabrasion,
        extractions, acne-prevention, hydration, LED and aging skincare. A truly customized facial experience in an
        upbeat, inviting and modern open environment.
      </p>
      <p class="descriptions-text descriptions-text-end" data-uw-styling-context="true">
        Face Haus is a revolution that is redefining skin care with its innovative approach to skin health. A community
        that celebrates camaraderie, and brings people together over the shared goal of feeling and looking fantastic
        from the inside out. Our expert estheticians serve up fabulous, spa-grade facials using superior clean products
        at a head-turning price.
      </p>
    </div>
  </div>
  <div class="accordion-wrap bottom-target">
    <h3 class="accordion-menu" data-uw-styling-context="true">
      SERVICES
      <span class="accordion-menu-arrow desktop"></span>
    </h3>
    <div class="accordion-menu-item hause-services he-490-mb" style="display: none; ">
      <div class="service-col">
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            HAUS SPECIAL <span class="no" data-uw-styling-context="true">65</span>
          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            Our signature facial with an oxygen
            blast and no extractions.
          </p>
        </div>
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            KEEP GLOWING <span class="no" data-uw-styling-context="true">75</span>
          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            Cleanse, exfoliate and hydrate a sea.
          </p>
        </div>
      </div>
      <div class="service-col">
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            BEST MAN <span class="no" data-uw-styling-context="true">75</span>
          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            A guys-only cleanse and renewal.
          </p>
        </div>
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            SPOTLESS REPUTATION <span class="no" data-uw-styling-context="true">75</span>

          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            A targeted acne tretment for
            problematic skin.
          </p>
        </div>
      </div>
      <div class="service-col last">
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            BRIGHT SIDE <span class="no" data-uw-styling-context="true">75</span>

          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            A treatment that helps fade sun
            damage and dark spots.
          </p>
        </div>
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            TEEN SPIRIT <span class="no" data-uw-styling-context="true">65</span>

          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            Gives teens clean, bright skin, and.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-menu-line-target desktop"></div>
  </div>
</div>
<!--- main_Face haus target location-->

<div class="services servc-target">
  <div class="top_services services-80" style="max-width: 1024px;">
    <div class="section-header text-center">
      <h2 class="header_title margin_bottom_10 fontHelCondBo2 accordion-menu fz-24px" data-uw-styling-context="true">
        FACE HAUS TARGET LOCATION
      </h2>
    </div>
    <div class="service_column mg-bt-30p w-90">
      <div id="serv1" class="services_block tooltip">
        Frisco
        <div class="serv_text mg-tp-bt-10">
          3201 Preston Road <br>
          Frisco, TX 75034
        </div>
        <button class="btn-target" data-uw-styling-context="true">BOOK NOW</button>
      </div>
      <div id="serv3" class="services_block tooltip">
        Cityview
        <div class="serv_text mg-tp-bt-10">
          5700 Overton Ridge Blvd <br>
          Fort Worth, TX 76132
        </div>
        <button class="btn-target" data-uw-styling-context="true">BOOK NOW</button>
      </div>
      <div id="serv5" class="services_block tooltip">
        Fort Worth Central
        <div class="serv_text mg-tp-bt-10">
          301 Carroll Street <br>
          Fort Worth, TX 76107
        </div>
        <button class="btn-target" data-uw-styling-context="true">BOOK NOW</button>
      </div>
      <div id="serv6_m" class="services_block tooltip">
        Fort Worth North
        <div class="serv_text mg-tp-bt-10">
          8917 Tehama Ridge Parkway <br>
          Fort Worth, TX 76177
        </div>
        <button class="btn-target" data-uw-styling-context="true">BOOK NOW</button>
      </div>
    </div>

    <div class="service_column w-90">
      <div id="serv6-des" class="services_block tooltip">
        Fort Worth North
        <div class="serv_text mg-tp-bt-10">
          8917 Tehama Ridge Parkway <br>
          Fort Worth, TX 76177
        </div>
        <button class="btn-target" data-uw-styling-context="true">BOOK NOW</button>
      </div>
      <div id="serv7" class="services_block tooltip">
        Addisom
        <div class="serv_text mg-tp-bt-10">
          301 Carroll Street <br>
          Fort Worth, TX 76107
        </div>
        <button class="btn-target" data-uw-styling-context="true">BOOK NOW</button>
      </div>
      <div id="serv8" class="services_block tooltip">

      </div>
    </div>
  </div>
</div>
<!--- main_products-->
<div class="product-recommendations__inner">
  <div class="section-header text-center">
    <h2 class="header_title margin_bottom_10 fontHelCondBo2 accordion-menu">PRODUCTS YOU MAY LIKE</h2>
  </div>
  <ul class="grid grid--uniform grid--view-items products-target">
    <div class="slides ">
      {% assign all_products = collections['target'].products %}
      {% for product in all_products %}
      <li class="grid__item small--one-half medium-up--one-quarter pd-f-r-15">
        {% include 'product-card-grid', max_height: 250, product: product, show_vendor: section.settings.show_vendor %}
      </li>
      {%- endfor -%}
  </ul>
</div>