<style>
	h1 {
		font-family: HelveticaNeueRoman;
	}
	.logo_small {
      display: block !important;
   }

   .logo_big {
      display: none !important;
   }
   #esthy_slider {
      display: none;
   }
</style>
<div style="margin: 0 10%; font-family: HelveticaNeueRoman; font-size: 12px; line-height: 21px; margin-top: 80px; margin-bottom: 100px;"><strong><p></p>
<h1>GENERAL</h1>
</strong><p><strong></strong><br>
Access to any company’s website can be challenging for persons having certain disabilities.  A person’s disability is often unique. What may work well for one person, may cause difficulties for another person.  Our company has made efforts to accommodate as many of our guests and potential guests as is reasonable given our size, resources, and knowledge of our customers, and potential guests’s needs.  To that end, we have engaged the services of professionals to assist and advise us in these matters.  More general information about website access and website access statements can be found at <a href="http://www.accessibilitystatements.com/" target="_blank" rel="noopener noreferrer">www.AccessibilityStatements.com</a> and at <a href="https://www.karlinlaw.com/Accessibility-Statements-for-Websites.shtml" target="_blank" rel="noopener noreferrer">www.Karlinlaw.com/Accessibility-Statements-for-Websites.shtml</a><br>
<br>
<strong>ACCESSIBILITY ON THIS WEBSITE</strong><br>
Our website provides a number of methods, features, and policies that can help with access to our website and/or to products or services provided or referred to on our website or by our business.<br>
There are also various aids available by third parties and which are provided by most browsers. A general discussion of these aids can be found on a number of websites, including <a href="http://www.accessibilitystatements.com/" target="_blank" rel="noopener noreferrer">www.AssessibilityStatements.com</a> and at <a href="https://www.karlinlaw.com/" target="_blank" rel="noopener noreferrer">www.Karlinlaw.com</a>.<br>
If you are having difficulty with access to our website even after utilizing any access features within this website and/or any third party or browser features, we invite you to contact us for further assistance.  Contact information is set forth below.<br>
Some Specific Accessibility Features within this website.<br>
This website contains a Widget, called UserWay Website Accessibility (“UserWay”), which is powered by a third party dedicated accessibility server.  The software allows us to improve its access, particularly related to certain types of disabilities, and UserWay has advised by way of its own accessibility statement that they make efforts to follow the Web Content Accessibility Guidelines (WCAG 2.1). On our website, the UserWay widget is located in the LOWER-RIGHT CORNER of most pages.<br>
<br>
<strong>ENABLING THE ACCESSIBILITY MENU</strong><br>
The accessibility menu can be enabled by clicking the accessibility menu icon that appears after clicking on the Widget described above. After triggering the accessibility menu, please wait a moment for the accessibility menu to load in its entirety.<br>
<br>
<strong>DISCLAIMER</strong><br>
We anticipate that from time to time, within our resources, we will be making modifications to parts of our website, and possibly modifications to accessibility of our website. Reasonable efforts toward improving seamless, accessible and unhindered use of websites by guests and potential guests is generally a worthwhile goal. Moving closer to this goal will often depend on the knowledge the company has regarding any particular difficulties those using the website might encounter, as well as available resources and improvements with technology.<br>
Despite the efforts we may have made regarding accessibility, consistent with normal business practices for a company of our size and resources, some content, features, processes, or policies, may be improved, so we welcome your suggestions.</p>
<p>
<strong>WE ARE HERE FOR YOU</strong><br>
If you are experiencing difficulties with any content on our website because of a disability, or if you require assistance with any part of our site because of your particular disability, please contact us and let us know.  We will be happy to assist<br>
Send an email, explaining in as much detail as possible, what type of difficulty you had, or may have had, or believe others may have. These types of emails should be sent to: <a href="mailto:info@thefacehaus.com" target="_blank" rel="noopener noreferrer">info@thefacehaus.com</a> Note:  if the email is sent to a third party website or mail server for forwarding to us, the third party website or mail servers does not itself read or respond to these emails, but will only forward such email to us without prior review.<br>
In contacting us by email, your privacy will be strictly protected. This means that<br>
you will not be required to provide any personal information, including but not limited to your:<br>
Name, address, telephone number, the specific type of disability you may have, information about goods, products, or services you might be interested in, email address (unless you include it in an email you send to us or to our representatives).</p>
<p>For Accessibility features of popular browsers and third party screen readers and other devices<br>
to assist with access to websites can be found  at <a href="https://www.karlinlaw.com/" target="_blank" rel="noopener noreferrer">www.Karlinlaw.com</a> and in particular <a href="https://www.karlinlaw.com/Accessibility-Statements-for-Websites.shtml" target="_blank" rel="noopener noreferrer">www.Karlinlaw.com/Accessibility-Statements-for-Websites.shtml</a><br>
</p>
</div>