<style>
   .logo_small {
      display: block !important;
   }

   .logo_big {
      display: none !important;
   }

   #esthy_slider {
      display: none;
   }

   div.hello_text p {
      color: #007481;
   }
</style>
<main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
   <div id="shopify-section-blog-template" class="shopify-section">
      <div class="page-width">
         <header class="section-header text-center blog-new">
            <h1>Our Partners</h1>

         </header>
         <div style="clear:both"></div>
      </div>
      <ul class="blog-list-view blog-new-view desktop2">
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://bombas.com/" alt="Bombas url" target="blank_">
                  <img class="centered-and-cropped" alt="Bombas."
                     id="*83c882ec-c3d2-49cb-a5f6-77c15b26ea6b#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-bombas.jpg?v=1608039874">
               </a>
            </div>            
         </div>
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://classpass.com/studios/face-haus-rice-village-houston" alt="Classpass url" target="blank_">
                  <img class="centered-and-cropped" alt="Classpass."
                     id="*83c882ec-c3d2-49cb-a5f6-77c15b26ea6b#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-best-in-class_7d72ba2a-49e7-41e0-8773-a9958b0bb58f.jpg?v=1608122146">
               </a>
            </div>            
         </div>
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://www.thegivingkeys.com/" alt="The Giving Keys url" target="blank_">
                  <img class="centered-and-cropped" alt="The Giving Keys."
                     id="*8fdcbccb-b98d-4a56-92f2-18fe0f473077#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-the-giving-keys.jpg?v=1608039875">
               </a>
            </div>            
         </div>
      </ul>
      <ul class="blog-list-view blog-new-view desktop2">
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://atolla.com/" alt="Atolla url" target="blank_">
                  <img class="centered-and-cropped" alt="Atolla ."
                     id="*8fdcbccb-b98d-4a56-92f2-18fe0f473077#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-atolla.jpg?v=1608039874">
               </a>
            </div>         
         </div>
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://www.lancerskincare.com/" alt="Lancer url" target="blank_">
                  <img class="centered-and-cropped" alt="Lancer."
                     id="*83c882ec-c3d2-49cb-a5f6-77c15b26ea6b#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-lancer.jpg?v=1608039874">
               </a>
            </div>            
         </div>
      </ul>

      <ul class="blog-list-view blog-new-view mobile_blog">
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://bombas.com/" alt="Bombas url" target="blank_">
                  <img class="centered-and-cropped" alt="Bombas."
                     id="*83c882ec-c3d2-49cb-a5f6-77c15b26ea6b#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-bombas.jpg?v=1608039874">
               </a>
            </div>            
         </div>
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://classpass.com/studios/face-haus-rice-village-houston" alt="Classpass url" target="blank_">
                  <img class="centered-and-cropped" alt="Classpass."
                     id="*83c882ec-c3d2-49cb-a5f6-77c15b26ea6b#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-best-in-class_7d72ba2a-49e7-41e0-8773-a9958b0bb58f.jpg?v=1608122146">
               </a>
            </div>            
         </div>
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://www.thegivingkeys.com/" alt="The Giving Keys url" target="blank_">
                  <img class="centered-and-cropped" alt="The Giving Keys."
                     id="*8fdcbccb-b98d-4a56-92f2-18fe0f473077#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-the-giving-keys.jpg?v=1608039875">
               </a>
            </div>            
         </div>      
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://atolla.com/" alt="Atolla url" target="blank_">
                  <img class="centered-and-cropped" alt="Atolla ."
                     id="*8fdcbccb-b98d-4a56-92f2-18fe0f473077#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-atolla.jpg?v=1608039874">
               </a>
            </div>         
         </div>
         <div class="blog-new-item padding_bottom_5">
            <div class="blog-new-item-img">
               <a href="https://www.lancerskincare.com/" alt="Lancer url" target="blank_">
                  <img class="centered-and-cropped" alt="Lancer."
                     id="*83c882ec-c3d2-49cb-a5f6-77c15b26ea6b#West Hollywood*" width="100%" style="border-radius:50%;"
                     src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/partner-lancer.jpg?v=1608039874">
               </a>
            </div>            
         </div>
      </ul>
   </div>
</main>