<div class="main-container">
	<div class="contact_header">
		<h4>Need to reach a Haus directly about an upcoming appointment or question?
			<br>
			Please choose your Haus below to get in touch directly.
		</h4>
	</div>
	<div class="contact_content">
		<div class="contact_col">
			<div class="contact_column contact1 desktop">
			</div>
			<div class="contact_column contact2">
				<div class="contact_row">
					<h3 >
						<a href="/pages/facials-santa-monica" class="contact_a"> Santa Monica </a> 
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>	
				<!-- mobi -->
				<div class="contact_row mobile2">
					<h3 >
						<a href="/pages/facials-south-bay" class="contact_a">South Bay</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>	

				<div class="contact_row">
					<h3 >
						<a href="/pages/facials-studio-city" class="contact_a">Studio City</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>
				<!-- mobi -->
				<div class="contact_row mobile2">
					<h3 >
						<a href="/pages/facials-usc-village" class="contact_a">USC Village</a>
						<span class="contact-menu-arrow "></span>
					</h3>
				</div>
				<div class="contact_row">
					<h3 >
						<a href="/pages/facials-west-hollywood" class="contact_a">West Hollywood</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>
				
				<!-- mobi -->
				<div class="contact_row mobile2">
					<h3 >
						<a href="/pages/facials-dallas-preston-royal" class="contact_a">Dallas - Preston Royal</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>				

				<div class="contact_row">
					<h3 >
						<a href="/pages/facials-dallas-west-village" class="contact_a">Dallas - West Village</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>

				<!-- mobi -->
				<div class="contact_row mobile2">
					<h3 >
						<a href="/pages/houston-texas" class="contact_a">Houston - Rice Village</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>

				<div class="contact_row contact_row_end_column1">
					<h3 >
						<a href="/pages/facials-new-york" class="contact_a">NYC - Upper East Side</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>

				<!-- mobi -->
				<div class="contact_row contact_row_end mobile2">
					<h3 >
						<a href="/pages/los-angeles-larchmont-village" class="contact_a">Larchmont Village (Opening 2021)</a>
						<span class="contact-menu-arrow"></span>
					 </h3>
				</div>
			</div>

			<div class="contact_column contact3 desktop">
			</div>

			<div class="contact_column contact4 desktop">
				<div class="contact_row">
					<h3 >
						<a href="/pages/facials-south-bay" class="contact_a">South Bay</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>				
				<div class="contact_row">
					<h3 >
						<a href="/pages/facials-usc-village" class="contact_a">USC Village</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>
				<div class="contact_row">
					<h3 >
						<a href="/pages/facials-dallas-preston-royal" class="contact_a">Dallas - Preston Royal</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>
				<div class="contact_row">
					<h3 >
						<a href="/pages/houston-texas" class="contact_a">Houston - Rice Village</a>
						<span class="contact-menu-arrow "></span>
					 </h3>
				</div>
				<div class="contact_row contact_row_end">
					<h3 >
						<a href="/pages/los-angeles-larchmont-village" class="contact_a">Larchmont Village (Opening 2021)</a>
						<span class="contact-menu-arrow"></span>
					 </h3>
				</div>
			</div>

			<div class="contact_column contact5 desktop">
			</div>
		</div>
		<div class="contact_footer">
			<h4>Would you like to know more about our Corporate ‘Swell’ness offerings?
				<br>
				Learn more <a href="/pages/corporate-wellness">HERE.</a> 
				<br>
				<br>
				Want to plan a Haus Party? We’d love to help you! Please email us at <a href="mailto:info@thefacehaus.com">info@thefacehaus.com </a>to get started.
				<br>
				<br>
				Interested in joining the Face Haus Team? We’d love to meet you. Email and send us your resume at <a href="mailto:joinus@thefacehaus.com">joinus@thefacehaus.com</a> 
				<br>
				For marketing or press inquiries, please contact us at <a href="mailto:marketing@thefacehaus.com">marketing@thefacehaus.com</a>
				<br>
			</h4>
		</div>
	</div>
</div>